/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

/*---header-section */
header h3 {

    font-size: 24px;
    margin-left: 0px;
    margin-top: 87px;
    margin-bottom: 145px;


}

/* ---------- 
journey as influencer --------*/

.container {
    display: flex;
    max-width: 1440px;
    max-height: 1440px;
    margin: 0 auto;

    align-items: center;
    width: 100%;
    justify-content: center;



}

.link-button {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;

}

/* arrow icon */
.fa-arrow-right {
    margin-left: 5px;
}

.influencer-journey {
    width: 582px;


}

.link-button {
    display: inline-block;


}

.link-button:hover {
    transform: scale(1.09);
    transition: transform 1s ease-in-out;
}


.influencer-journey img {
    width: 100%;


}

/* popular collection */

.collection {
    max-width: 1080px;
    margin: 0 auto;
}

.gadget-heading h2 {
    text-align: center;
}

/* gadget-item-distributing */
.gadgets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 26px;
}

/* product-rating */

.fa-star {
    font-size: 12px;
}

.fa-star.filled {

    color: #FFC014;
}



.gadgets .gadget-img {
    width: 300px;
    height: 256px;
}

.see-more a {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    color: rgba(224, 44, 109, 0.87);
    align-items: center;

}

/*---------- 
product-category---------- */

.category-container {

    max-width: 1440px;
    max-height: 1440px;
    margin: auto;
    padding: 0 156px;


}

.item-category {
    display: flex;
    align-items: center;
}

ul a {
    text-decoration: none;
}

/*-----------
 website-footer--------- */

footer {
    background-color: black;
    text-align: center;
}

.influencer h2 {

    color: #FFFFFF;
}

.influencer p {
    color: #D9DBE1;
    ;
}

/* social-media icon */
.icon a i::before {
    color: #FFFFFF;
}

/* Media Queries */


/* tablet devices */
@media only screen and (min-width:577px) and (max-width:768px) {
    .container .collection .category-container {
        width: 100%;
    }

    .influencer-journey.influencer {

        grid-template-columns: repeat(1, 1fr);
    }

    .all-gadget .item-category {
        grid-template-columns: repeat(2, 1fr);
    }

}