/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

header h3 {

    font-size: 24px;
    margin-left: 120px;
    margin-top: 87px;
    margin-bottom: 145px;


}

.container {
    display: flex;
    max-width: 1440px;
    max-height: 1440px;
    margin: auto;
    padding: 0 156px;
    align-items: center;


}

.link-button {
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    width: 196px;
}

/* arrow icon */
.fa-arrow-right {
    margin-left: 5px;
}

.influencer-journey {
    width: 582px;


}

.influencer-journey img {
    width: 100%;


}

.gadget-heading h2 {
    text-align: center;
}